extends layout
block content
  script(type='text/javascript').
    microsoftTeams.initialize();
    var notifySuccess = #{succeeded};
    if(notifySuccess) {
      microsoftTeams.authentication.notifySuccess('#{authCode}');
    } else {
      microsoftTeams.authentication.notifyFailure();
    }
 